.card {
  padding: 20px;
  height: 275px;
  margin-top: auto;
  margin-bottom: auto;
}

.image {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  margin-top: 50px;
  transition: 1s;
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
}

.text {
  margin-top: -100px;
  margin-bottom: 20px;
  opacity: 0;
  transition: 2s;
}

.button {
  opacity: 0;
  transition: 2s;
}

.card:hover {
  outline: 4px solid var(--primary-color);
}

.card:hover .text,
.card:hover .button {
  opacity: 1;
  transition: 2s;
}

.card:hover .text {
  margin-top: 15px;
}

.card:hover .image {
  margin-top: 0;
  transition: 2s;
}

