:root {
  font-family: Roboto, sans-serif;

  --primary-color: #2B4074;
  --black-color: #4A4A4A;
  --dark-gray-color: #797979;
  --gray-color: #9B9B9B;
  --light-gray-color: #F9F6E5;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
